<!-- {% extends "base/base_layout.html" %}
 {% block sidebar_option %}
      sidebar-collapse
{% endblock %}
{% block content %}
<div class="content-wrapper">
  <div class="content-header">
  </div>
   <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
            <div class="card">
              <div class="card-body">
                <h1>About Mobile Security Framework</h1>
              
                  <p class="lead">
                    Application Security Scanner (AppScanX) is an automated, all-in-one mobile application (Android/iOS) pen-testing, malware analysis and security assessment framework capable of performing static and dynamic analysis. AppScanX supports mobile app binaries (APK, XAPK, IPA & APPX) along with zipped source code and provides REST APIs for seamless integration with your CI/CD or DevSecOps pipeline. The Dynamic Analyzer helps you to perform runtime security assessment and interactive instrumented testing.
                 </p>
                  <p> <strong>Author:</strong> <a href="//www.linkedin.com/in/syed-fawad-abbas/">Agha Fawad</a> </p>      
                  <h2>Active Collaborators</h2>
                    <p><a href="//github.com/magaofei">Munam Sultan</a></p>
                    <p><a href="//github.com/matandobr">Zainab Shabbir</a></p>
                    <p><a href="//github.com/superpoussin22">Vincent Nadal</a></p>
          </div>
        </div>
       </div>
     </div>
    </div>
</div>
{% endblock %} -->

{% extends "base/base_layout.html" %}
 {% block sidebar_option %}
      sidebar-collapse
{% endblock %}
{% block content %}
<div class="content-wrapper">
  <div class="content-header">
  </div>
   <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
            <div class="card">
              <div class="card-body">
                <h1>About AppScanX</h1>
              
                  <p class="lead">
                    AppScanX is a security research platform for mobile applications in Android, iOS and Windows Mobile. AppScanX can be used for a variety of use cases such as mobile application security, penetration testing, malware analysis, and privacy analysis. The Static Analyzer supports popular mobile app binaries like APK, IPA, APPX and source code. Meanwhile, the Dynamic Analyzer supports both Android and iOS applications and offers a platform for interactive instrumented testing, runtime data and network traffic analysis. AppScanX seamlessly integrates with your DevSecOps or CI/CD pipeline, facilitated by REST APIs and CLI tools, enhancing your security workflow with ease.
                 </p>
                  <p> <strong>Author:</strong> <a href="https://github.com/syedfawadabbas">Agha Fawad</a> </p>      
                  <h2>Active Collaborators</h2>
                    <p><a href="https://github.com/Umer-Amir">Umer Amir</a></p>
                    <p><a href="//github.com/magaofei">Munam Sultan</a></p>
                    <p><a href="//github.com/matandobr">Zainab Shabbir</a></p>
          </div>
        </div>
       </div>
     </div>
    </div>
</div>
{% endblock %}

